<div class="pagination">
    <% if (currentPage > 1) { %>
        <a href="?page=1" class="pagination-link">First</a>
        <a href="?page=<%= currentPage - 1 %>" class="pagination-link">Previous</a>
    <% } %>
    
    <% for(let i = Math.max(1, currentPage - 2); i <= Math.min(totalPages, currentPage + 2); i++) { %>
        <a href="?page=<%= i %>" class="pagination-link <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
    <% } %>
    
    <% if (currentPage < totalPages) { %>
        <a href="?page=<%= currentPage + 1 %>" class="pagination-link">Next</a>
        <a href="?page=<%= totalPages %>" class="pagination-link">Last</a>
    <% } %>
</div>